* {
    margin: 0;
    padding: 0;
}

#background {
    background-color: aquamarine;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    position: absolute;
    height: 45vh;
    width: auto;
    background-color: rgb(61, 25, 119);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: -3px 6px 10px;
}

.book .bookcover {
    height: 100%;
    width: auto;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-user-drag: none;
}